{% extends "base.html" %}
{% block title %}Clasificaciones{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/clasificaciones.css') }}">
{% endblock %}

{% block content %}

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>#</th>
            <th>Tipo</th>
            <th>Comentario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id="tabla_clasificacion">

    </tbody>
</table>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/clasificacion.js') }}"></script>
{% endblock %}