{% extends "base.html" %}
{% block title %}Revision manual{% endblock %}

{% block extra_styles %}
<style>
    textarea {
        resize: none;
        field-sizing: content;
    }

    .details {
        display: flex;
        justify-content: space-between;
        background-color: aliceblue;
        border-radius: 10px;
        padding: 8px 12px;
        margin-bottom: 8px;
        gap: 5px
    }

    .card {
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
</style>
{% endblock %}


{% block content %}
<div class="row g-1 mt-3 mb-3 d-flex justify-content-center">
    <div class="col">
        <select id="filtro-estado" class="form-select shadow-none">
            <option value="">Todos</option>
            <option value="hongo">Hongo</option>
            <option value="sano">Sano</option>
        </select>
    </div>
    <div class="col">
        <input type="date" id="filtro-fecha" class="form-control shadow-none">
    </div>

    <div class="col-auto">
        <button onclick="filtrarDetecciones()" class="btn btn-primary">Filtrar</button>
    </div>
</div>


<div class="row g-3 justify-content-center mt-3 mb-3" id="row-data"></div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='detecciones.js') }}"></script>
{% endblock %}