{% extends "base.html" %}
{% block title %}Revision manual{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/detecciones.css') }}">
{% endblock %}


{% block content %}

<!-- Modal Mostrar Imagen -->
<div class="modal fade" id="model_imagen" tabindex="-1" aria-labelledby="model_imagenLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="model_imagenLabel">Imagen de la Detección</h1>
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="imagen_modal">
                    <img alt="Imagen Deteccion" id="imagen_modal_read">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Registrar Error</h1>
                <button type="button" class="btn-close  shadow-none" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <form action="javascript:void(0)" method="POST" onsubmit="reportarError(this)">
                <div class="modal-body">
                    <input type="hidden" name="deteccion_id" id="deteccion_id">
                    <label>Tipo de error:</label>
                    <select name="tipo_error" class="form-select shadow-none" required>
                        <option selected disabled>.:: Seleccione una Clasificacion ::.</option>
                        <option value="Falso Positivo">Falso Positivo</option>
                        <option value="Falso Negativo">Falso Negativo</option>
                        <option value="Verdadero Positivo">Verdadero Positivo</option>
                        <option value="Verdadero Negativo">Verdadero Negativo</option>
                    </select>
                    <label>Comentario:</label>
                    <textarea name="comentario" id="comentario" class="form-control shadow-none" placeholder="Comentario ..."
                        required></textarea>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Registrar Error</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row g-1 mt-3 mb-3 d-flex justify-content-center">
    <div class="col">
        <select id="filtro-estado" class="form-select shadow-none">
            <option value="">Todos</option>
            <option value="hongo">Hongo</option>
            <option value="sano">Sano</option>
        </select>
    </div>
    <div class="col">
        <input type="date" id="filtro-fecha" class="form-control shadow-none">
    </div>

    <div class="col-auto">
        <button onclick="filtrarDetecciones()" class="btn btn-primary">Filtrar</button>
    </div>
</div>

<div class="table-responsive mt-3" id="tabla_sin_clasificado">
    <table class="table table-bordered" style="width: 100%;">
        <thead>
            <tr>
                <th>#</th>
                <th>Imagen</th>
                <th>Tiempo Proc.</th>
                <th>Confianza</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="tabla_detecciones">

        </tbody>
    </table>
</div>

<div class="table-responsive mt-3" id="tabla_clasificado">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Imagen</th>
                <th>Tiempo Proc.</th>
                <th>Confianza</th>
                <th>Fecha</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody id="tabla_detecciones_clasificado">

        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/detecciones.js') }}"></script>
{% endblock %}