{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row g-3 justify-content-center mt-3">

        <div class="col-lg-3 col-md-4 col-sm-12">
            <a class="card" href="/detectar">
                <div class="card-body item-card">
                    <h5 class="card-title">Deteccion en tiempo real</h5>
                </div>
            </a>
        </div>


        <div class="col-lg-3 col-md-4 col-sm-12">
            <a class="card" href="/detecciones">
                <div class="card-body item-card">
                    <h5 class="card-title">Detecciones</h5>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-12">
            <a class="card" href="/clasificaciones">
                <div class="card-body item-card">
                    <h5 class="card-title">Clasificar</h5>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-12">
            <a class="card" href="/reportes">
                <div class="card-body item-card">
                    <h5 class="card-title">Generar Reportes</h5>
                </div>
            </a>
        </div>

    </div>
</div>
{% endblock %}