{% extends "base.html" %}
{% block title %}Generar Reportes{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reportes.css') }}">
{% endblock %}

{% block content %}
<div class="filtro">
    <input type="date" class="form-control form-control-sm shadow-none" id="reporte-fecha" required />
    <button onclick="GenerarReporte()" class="btn btn-primary reporte">Generar Reporte</button>
    <button id="exportar-pdf" class="btn btn-danger">PDF</button>
</div>
<div id="informe">
    <h5>Reporte Generado</h5>
    <div id="detalles"></div>
    <canvas id="grafico-errores" width="400" height="200"></canvas>   
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/reportes.js') }}"></script>
{% endblock %}