{% extends "base.html" %}
{% block title %}Detección de Hongos{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/video_detector.css') }}">
{% endblock %}

{% block content %}
<div class="content-title mt-4">
    <h2>Detección en Tiempo Real - Fruto del Tangelo</h2>
    <button onclick="startCamera()" class="btn btn-primary">Iniciar</button>
    <button onclick="stopCamera()" class="btn btn-danger">Detener</button>
</div>


<div class="container mt-2 mb-2 d-flex justify-content-center">
    <div class="alert alert-light w-auto p-2 border border-dark-subtle" role="alert">
        <h4 class="alert-heading">Surgerencias</h4>
        <ol>
            <li>Posiciona la cámara de forma que los tangelos pasen claramente por el área de captura.</li>
            <li>Para comenzar con la detección, presiona el botón "Iniciar".</li>
            <li>La detección se realiza automáticamente:
                <ul>
                    <li>Cada captura se realizara cada 5s.</li>
                    <li>Solo se guardarán imágenes donde se detecte un tangelo afectado o sano.</li>
                    <li>Las imágenes sin detección serán descartadas.</li>
                </ul>
            </li>
            <li>Para detener la detección, presiona el botón "Detener".</li>
        </ol>
    </div>
</div>

<div id="videoContainer" class="mt-2">
    <!-- <video id="videoFeed" class="video-active" autoplay playsinline style="display: block;"></video> -->
    <video id="videoFeed" autoplay playsinline style="display: none;"></video>
</div>

<div id="detectionsContainer">
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/video_detector.js') }}"></script>
{% endblock %}